<h2>Manipulate dataFrame with new index column</h2>

In [27]:
import pandas as pd

In [22]:
df= pd.read_csv('lnkd.csv')
df.head()

       Date    Open    High     Low   Close   Volume
0  7-Dec-16  195.95  195.98  195.94  195.96  3024607
1  6-Dec-16  195.28  195.95  195.26  195.94  4005017
2  5-Dec-16  195.25  195.40  195.25  195.25  1184931
3  2-Dec-16  195.25  195.35  195.17  195.20  1520838
4  1-Dec-16  195.22  195.40  195.14  195.31  1683012

In [23]:
df= pd.read_csv('lnkd.csv', parse_dates=['Date'], index_col='Date')

In [24]:
df.head()

              Open    High     Low   Close   Volume
Date
2016-12-07  195.95  195.98  195.94  195.96  3024607
2016-12-06  195.28  195.95  195.26  195.94  4005017
2016-12-05  195.25  195.40  195.25  195.25  1184931
2016-12-02  195.25  195.35  195.17  195.20  1520838
2016-12-01  195.22  195.40  195.14  195.31  1683012